<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventBrite Alternative</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>

          <div class="float float-left" id="navbarSupportedContent">
            <form class="d-flex" action='#'>
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="container-fluid"><a class="h1">Likes </a></div>

      <div class="container-fluid p-2">
        <div class="card" style="width: 945px;height: 134px;">
            <div class="row mt-2 ms-2">
                <div class="col-sm-3">
                    <img class="card-img" src="https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png" alt="Suresh Dasari Card" style="height: 108px;width: 218px;">
                </div>
                <div class="col-sm-7 p-0">
                    <div class="card-body p-0 mx-2">
                
                        <h5 class="card-title">TEDxYouth@Redmond 2020 Conference - "Redefining the Impossible"</h5>
                        <p class="card-text">Sun, Apr 4, 2021 1:30 AM IST</p>
                        <p class="card-text">Free</p>
                        <a href="#" class="btn btn-primary float float-left">LIKE</a>
                    </div>
                </div>
            </div>
        </div>

      </div>
</body>
</html>